mk.1
config.mk
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project related
mk

# Go related

# Java related
pom.xml
*.class

# Python
*.pyc
*.pyo
/__pycache__/

# Ruby
#Gemfile.lock
.sass-cache/

# Temp Files
*.orig
*~
.*.swp
.*.swo
*.tmp
*.bak

# Editors (IntelliJ / Eclipse)
*/.idea
.idea
*/.classpath
.classpath
*/.project
.project
*/.settings
.settings

# OS X
.DS_Store

# Logging
*.log
/logs/

# Builds
*.o
out/

# Vim swapfile
*.swp
